.btn-style(){
    color: white;
    background-color: rgb(23, 36, 26);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.0em;
    border-radius: 0.3em;
    margin: 0 auto;
    padding: 1.2em;

    @media (max-width:@mobile){
        font-size: 1.5rem;
      }
}